body {
    margin: 1vh 1vw;
    background-color: #1b1b1b;
    color: #fff;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

ul,
fieldset,
legend,
input[type="date"] {
    color: #fff;
    border: 1px solid #858585;
    border-radius: 5px;
    background-color: #343434;
}

input[type="date"] {
    padding: 4px 8px;
}

legend {
    background-color: #313131;
}

ul {
    padding: 0;
}

li,
legend {
    list-style-type: none;
    padding: 0.2em 0.5em;
}

li:nth-of-type(even) {
    background-color: #313131;
}

button {
    cursor: pointer;
    background-color: #4e4e4e;
    color: #fff;
    border: 1px solid #858585;
    padding: 5px 8px;
    border-radius: 5px;
}

button:hover {
    background-color: #858585;
}
